body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
    padding: 15px;
}

/* Base styles for all links */
.nav-links li a {
    color: white; /* Set your desired color */
    text-decoration: none;
}

/* Hover state for links */
.nav-links li a:hover {
    text-decoration: underline; /* Optional: add underline on hover */
}

/* Visited links */
.nav-links li a:visited {
    color: white; /* Ensure visited links have the same color */
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.nav-links .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    background-image: url('path/to/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.content {
    padding: 20px;
}

.content h2 {
    color: #007BFF;
}

.logo-container {
    display: flex;
    align-items: left; /* Align items vertically center */
}

.logo-container .logo {
    margin-right: 10px; /* Adjust spacing between logo and site name */
}

.site-name {
    font-size: 1.5rem; /* Adjust font size as needed */
    font-weight: bold;
    line-height: 1;
}
